<%= link_to "Edit" ,edit_employee_path(@employee), :class => 'btn btn-default' %>
<%= link_to "Delete" , employee_path(@employee),
				method: :delete,
				data: {confirm: 'Are you sure?'},
				:class => 'btn btn-danger' %>


<h2>Name:<%= @employee.name %></h2>
<p>Age:<%= @employee.age %></p>
<p>Gender:<%= @employee.gender %></p>
<p>Designation:<%= @employee.designation %></p>
<hr>
===================
